.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -10px;
}

.card {
    margin: 0 10px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fafafa;
}

h1 {
    -webkit-text-stroke: 0.3px black;
}

.a button {
    -webkit-text-stroke: 0.3px black;
}

p {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.cards {
    margin: 0 auto;
    max-width: 1300px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.card header {
    padding: 10px;
    color: #fff;
}

.card header h2 {
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.card .body {
    padding: 10px;
    font-size: .9rem;
    color: #757575;
}

