@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");


/*
    COLORS (from Ozil picture)
    73272D: Red
    571D25: Darker Red
    DADADA: White
    A2A4A5: Light Gray
    0D0D10: Black
*/


/* Whole Page */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

@-ms-viewport {
    width: device-width;
}

body {
    -ms-overflow-style: scrollbar;
        background: #fff;
}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

/* Red & White Fonts */

body {
    background-color: #DADADA;
    color: #1110;
}

body, input, select, textarea {
    font-family: "Lato", sans-serif;
    font-size: 15pt;
    font-weight: 300;
    line-height: 2;
}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 13pt;
    }

}

@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #e5474b;
}

/* Banner */

#banner {
    top: -25px;
    padding: 13em 0 18em 0;
    background-color: #0c0c0c;
    background-image: url("../img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15% left;
    text-align: center;
    position: relative;
    z-index: 9999;
}

#banner input, #banner select, #banner textarea, #banner a, #banner strong, #banner b {
    color: #DADADA;
}

#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
    color: #DADADA;
}

#banner input[type="submit"],
#banner input[type="reset"],
#banner input[type="button"],
#banner button,
#banner .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #fff;
    color: #DADADA !important;

}

#banner input[type="submit"]:hover,
#banner input[type="reset"]:hover,
#banner input[type="button"]:hover,
#banner button:hover,
#banner .button:hover {
    background: rgba(255, 255, 255, 0.25);
}

#banner .inner {
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    position: relative;
    z-index: 10000;
    line-height: 1.5;
}

@media screen and (max-width: 480px) {

    #banner .inner {
        max-width: 90%;
        width: 90%;
    }

}

#banner h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    margin: 0 0 1em 0;
    padding: 0;
    letter-spacing: 3px;
    font-weight: 700;
    text-align: center;
}

body.is-loading #banner:after {
    opacity: 1;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: .9em;
    font-weight: 700;
    height: 3.5em;
    line-height: 3.65em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
